<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Audio Streamer</title>
</head>
<body>
    <button id="start">Start Recording</button>
    <button id="stop" disabled>Stop Recording</button>

    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script>
        let mediaRecorder;
        let socket;
    
        // Initially enable 'Start Recording' and disable 'Stop Recording'
        document.getElementById("start").disabled = false;
        document.getElementById("stop").disabled = true;
    
        document.getElementById("start").onclick = () => {
            navigator.mediaDevices.getUserMedia({ audio: true })
                .then(stream => {
                    mediaRecorder = new MediaRecorder(stream);
    
                    // Initialize Socket.IO connection
                    socket = io('http://localhost:5000/audio_stream');
    
                    mediaRecorder.ondataavailable = event => {
                        if (socket.connected) {
                            socket.emit('audio_data', event.data);
                        }
                    };
                    mediaRecorder.start(1000); // Start recording and emit data every 1000ms (1 second)
    
                    // Disable 'Start Recording' and enable 'Stop Recording'
                    document.getElementById("start").disabled = true;
                    document.getElementById("stop").disabled = false;
                });
        };
    
        document.getElementById("stop").onclick = () => {
            mediaRecorder.stop();
            if (socket) {
                socket.disconnect();
            }
    
            // Enable 'Start Recording' and disable 'Stop Recording'
            document.getElementById("start").disabled = false;
            document.getElementById("stop").disabled = true;
        };
    </script>
    

</body>
</html>
